.pagesList {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1%;
}

button {
  cursor: pointer;
  border: 1px solid grey;
  background-color: white;
  height: 30px;
  transition: 0.3s;
}

button:hover {
  background-color: #c7d0ff;
}

button:active {
  transform: scale(0.8);
}

.sideButton {
  width: 80px;
}

