.infoWrapper {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 60vw;
  background-color:white;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid grey;
}